@import "tailwindcss";
@import "intl-tel-input/build/css/intlTelInput.css";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}

.iti {
    width: 100%;
}

.iti input {
    width: 100%;
}

.iti__country-list {
    z-index: 9999 !important;
}

.iti__selected-dial-code {
    @apply text-sm
}